{% extends "base.html" %}
{% block title %}NHL Companion | Hockey Goal Horn App{% endblock %}
{% block desc %} Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum et ipsa facilis in, quidem voluptatum pariatur facere numquam qui corrupti ea, consequuntur itaque libero, autem consectetur officiis enim odit. Atque. {% endblock %}

{% block body %}

<div class="container bg-dark pt-5 mb-5">
    <h1>Troublehooting</h1>
    <div class="row py-5">
        <h2 class="pb-3">NHL Companion is running more than one game...</h2>
        <div class="col border m-2 p-3">
            <h3 class="border-bottom">Step 1</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos voluptates id pariatur itaque voluptate quasi quae, ipsum eveniet doloribus vitae obcaecati vel sit omnis possimus. Consectetur delectus quidem sint molestiae?</p>
            <img class="w-100" src="https://placehold.co/400x250" alt="">
        </div>
        <div class="col border m-2 p-3">
            <h3 class="border-bottom">Step 2</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos voluptates id pariatur itaque voluptate quasi quae, ipsum eveniet doloribus vitae obcaecati vel sit omnis possimus. Consectetur delectus quidem sint molestiae?</p>
            <img class="w-100" src="https://placehold.co/400x250" alt="">
        </div>
        <div class="col border m-2 p-3">
            <h3 class="border-bottom">Step 3</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos voluptates id pariatur itaque voluptate quasi quae, ipsum eveniet doloribus vitae obcaecati vel sit omnis possimus. Consectetur delectus quidem sint molestiae?</p>
            <img class="w-100" src="https://placehold.co/400x250" alt="">
        </div>
    </div>
    <div class="row border-top py-5">
        <h2 class="pb-3">How to set local domain...</h2>
        <div class="col border m-2 p-3">
            <h3 class="border-bottom">Step 1</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos voluptates id pariatur itaque voluptate quasi quae, ipsum eveniet doloribus vitae obcaecati vel sit omnis possimus. Consectetur delectus quidem sint molestiae?</p>
            <img class="w-100" src="https://placehold.co/400x250" alt="">
        </div>
        <div class="col border m-2 p-3">
            <h3 class="border-bottom">Step 2</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos voluptates id pariatur itaque voluptate quasi quae, ipsum eveniet doloribus vitae obcaecati vel sit omnis possimus. Consectetur delectus quidem sint molestiae?</p>
            <img class="w-100" src="https://placehold.co/400x250" alt="">
        </div>
    </div>
    <div class="row border-top py-5">
        <h2 class="pb-3">Configure Wifi</h2>
        <div class="col border m-2 p-3">
            <h3 class="border-bottom">Step 1</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos voluptates id pariatur itaque voluptate quasi quae, ipsum eveniet doloribus vitae obcaecati vel sit omnis possimus. Consectetur delectus quidem sint molestiae?</p>
            <img class="w-100" src="https://placehold.co/400x250" alt="">
        </div>
        <div class="col border m-2 p-3">
            <h3 class="border-bottom">Step 2</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos voluptates id pariatur itaque voluptate quasi quae, ipsum eveniet doloribus vitae obcaecati vel sit omnis possimus. Consectetur delectus quidem sint molestiae?</p>
            <img class="w-100" src="https://placehold.co/400x250" alt="">
        </div>
        <div class="col border m-2 p-3">
            <h3 class="border-bottom">Step 2</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos voluptates id pariatur itaque voluptate quasi quae, ipsum eveniet doloribus vitae obcaecati vel sit omnis possimus. Consectetur delectus quidem sint molestiae?</p>
            <img class="w-100" src="https://placehold.co/400x250" alt="">
        </div>
    </div>
    <div class="row pb-5">
        <div class="col border m-2 p-3">
            <h3>Step 4</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos voluptates id pariatur itaque voluptate quasi quae, ipsum eveniet doloribus vitae obcaecati vel sit omnis possimus. Consectetur delectus quidem sint molestiae?</p>
            <img class="w-100" src="https://placehold.co/400x250" alt="">
        </div>
        <div class="col border m-2 p-3">
            <h3>Step 5</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos voluptates id pariatur itaque voluptate quasi quae, ipsum eveniet doloribus vitae obcaecati vel sit omnis possimus. Consectetur delectus quidem sint molestiae?</p>
            <img class="w-100" src="https://placehold.co/400x250" alt="">
        </div>
    </div>
</div>

{% endblock %}