{% extends "base.html" %}
{% block title %}NHL Companion | Hockey Goal Horn App{% endblock %}
{% block desc %} Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum et ipsa facilis in, quidem voluptatum pariatur facere numquam qui corrupti ea, consequuntur itaque libero, autem consectetur officiis enim odit. Atque. {% endblock %}

{% block body %}

    <div class="hero">
        <h1>NHL Companion</h1>
        <form class="configuration-form" action="/update" method="POST">
            <label for="user_team">Select your team:</label>
            <select name="user_team" id="">
                <option value="STL">STL</option>
            </select>
            <label for="stream_delay">Set stream delay:</label>
            <input type="text" name="stream_delay" id="">
            <input type="submit">
        </form>
        {% if data %}
        <table>
            <tr>
                <th>Current Team</th>
                <td>{{ data['user_team'] }}</td>
            </tr>
            <tr>
                <th>Stream Delay</th>
                <td>{{ data['stream_delay'] }}</td>
            </tr>
        </table>
        {% endif %}
        <a class="btn" href="/watch">Start App</a>
    </div>

{% endblock %}