{% extends "base.html" %}
{% block title %}NHL Companion | Hockey Goal Horn App{% endblock %}
{% block desc %} Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum et ipsa facilis in, quidem voluptatum pariatur facere numquam qui corrupti ea, consequuntur itaque libero, autem consectetur officiis enim odit. Atque. {% endblock %}

{% block body %}

{% if watching %}
    
<div id="running" class="container-md gx-5 bg-dark pt-5 mb-5 d-flex flex-column align-middle justify-content-center">

    <h1 class="pb-2">App is running...</h1>
        <a class="btn btn-outline-danger btn-lg" href="{{url_for('end_game')}}">Cancel app</a>
        <p class="pt-2 small">*App will shutdown after the next fetch based on your stream delay setting.</p>
</div>

    {% else %}

<div id="a" style="display: inherit;" class="container-md gx-5 bg-dark pt-5 mb-5 d-flex align-middle justify-content-center">

    <div>
        <a href="{{url_for('start_game')}}" onclick="$('#running').css('display', 'inherit')" class="btn btn-lg btn-success">Run</a>
    </div>

</div>

<div id="running" style="display: none !important;" class="container-md gx-5 bg-dark pt-5 mb-5 d-flex flex-column align-middle justify-content-center">

    <h1 class="pb-2">App is running...</h1>
        <a class="btn btn-outline-danger btn-lg" href="{{url_for('end_game')}}">Cancel app</a>
        <p class="pt-2 small">*App will shutdown after the next fetch based on your stream delay setting.</p>

</div>



{% endif %}

{% endblock %}