{% extends "base.html" %}
{% block title %}NHL Companion | Hockey Goal Horn App{% endblock %}
{% block desc %} Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum et ipsa facilis in, quidem voluptatum pariatur facere numquam qui corrupti ea, consequuntur itaque libero, autem consectetur officiis enim odit. Atque. {% endblock %}

{% block body %}


<div class="hero">
    <h1>Game is over!</h1>
    <table>
        <tr>
            <th>{{ data['home_team'] }} Score</th>
            <th>{{ data['away_team'] }} Score</th>
        </tr>
        <tr>
            <td>{{ data['home_score'] }}</td>
            <td>{{ data['away_score'] }}</td>
        </tr>
    </table>
    <a class="btn" href="{{url_for('index')}}">Go home</a>
</div>


{% endblock %}