{% extends "base.html" %}
{% block title %}NHL Companion | Hockey Goal Horn App{% endblock %}
{% block desc %} Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum et ipsa facilis in, quidem voluptatum pariatur facere numquam qui corrupti ea, consequuntur itaque libero, autem consectetur officiis enim odit. Atque. {% endblock %}

{% block body %}

<section class="dark">
    <div class="hero">
        <h1>Game in progress!</h1>
        <a class="btn" href="/">GO HOME</a>
    </div>
</section>

{% endblock %}