/* :root {

} */

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

body, div, h1, h2, h3, h4, h5, p, a, li, ul, ol, img, button, form, table {
    padding: 0;
    margin: 0;
}

/* section {
    width: 100%;
    height: fit-content;
    min-height: 10vh;
    max-height: 80vh;
    padding: 0 250px;
    padding-top: 100px;
}

section.dark {
    background-color: #000;
    color: #fefefe;
}

section.light {
    background-color: #fefefe;
    color: #222;
}

div.hero {
    min-height: 100vh;
    background-color: #000;
    color: #fefefe;
    padding: 100px;
}

div.hero h1 {
    font-size: 3.5rem;
    letter-spacing: 5px;
    font-weight: bold;
    display: block;
}


.hero .btn {
    position: absolute;
    bottom: 250px;
    right: 150px;
    padding: 15px 50px;
    border-radius: 8px;
    background-color: white;
    text-decoration: none;
    color: #000;
    font-size: 2rem;
} */